@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces
@using BugTracker.Models.Enums

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "Archived Tickets";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<h1>Archived Tickets</h1>

<div class="col mt-2 mb-4">
    <div class="card shadow">
        <div class="card-header">
            <i class="fas fa-table me-1 text-secondary"></i>
            <strong>Archived Tickets</strong>
        </div>
        <div class="card-body">
            <div class="">
                <table id="datatablesArchivedTickets" class="table table-striped dt-responsive w-100">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Updated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project)
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Owner
                            </th>
                            <th>
                                Developer
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none">@item.Title</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-align-justify"></i></a>

                                    @if (User.IsInRole(nameof(Roles.Admin)) || await ProjectService.IsAssignedProjectManagerAsync(btUser.Id, item.ProjectId))
                                    {
                                        <span>|</span>
                                        <a class="text-success" asp-action="Restore" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
