@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewData["Title"] = "My Tickets";
}

<h1>My Tickets</h1>

<p>
    <a class="btn btn-sm btn-primary" asp-action="Create">Create Ticket +</a>
</p>

<div class="col mt-2 mb-4">
    <div class="card shadow">
        <div class="card-header">
            <i class="fas fa-table me-1 text-secondary"></i>
            <strong>My Tickets</strong>
        </div>
        <div class="card-body">
            <div class="">
                <table id="datatablesMyTickets" class="table table-striped dt-responsive w-100">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Updated)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Archived)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project)
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Priority
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Owner
                            </th>
                            <th>
                                Developer
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none">@item.Title</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Archived)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-align-justify"></i></a> |
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a> |
                                    @if (item.Archived)
                                    {
                                        <a class="text-success" asp-action="restore" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                    }
                                    else
                                    {
                                        <a asp-action="archive" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

