@model IEnumerable<BugTracker.Models.Ticket>
@using BugTracker.Models.Enums

@{
    ViewData["Title"] = "Unassigned Tickets";
}


<h1>Unassigned Tickets</h1>

<div class="col">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Unassigned Tickets
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="datatablesUnassignedTickets">
                        <thead>
                            <tr>
                                @* Table header *@
                                <th>Title</th>
                                <th>Developer</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* Table body *@
                            @foreach (var ticket in Model.OrderByDescending(d => d.Created))
                            {
                                <tr>
                                    <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
                                    <td>
                                        @if (ticket.DeveloperUserId != null)
                                        {
                                            @ticket.DeveloperUser?.FullName
                                        }
                                        else
                                        {
                                            if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                                            {
                                                <a class="btn btn-xs btn-info" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                                            }

                                        }
                                    </td>
                                    @if (ticket.TicketStatus.Name == "New")
                                    {
                                        <td><span class="badge-success">@ticket.TicketStatus.Name </span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge-primary">@ticket.TicketStatus.Name </span></td>
                                    }
                                    <td><span class="badge-warning">@ticket.TicketPriority.Name </span></td>
                                    <td>@ticket.Created.ToString("dd-MMM-yyyy")</td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-justify"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

