@model IEnumerable<BugTracker.Models.Ticket>
@using BugTracker.Models.Enums

@{
    ViewData["Title"] = "Unassigned Tickets";
}


<h3 class="mt-2 mb-4">Unassigned Tickets</h3>

<div class="col mb-4">
    <div class="card shadow">
        <div class="card-header">
            <i class="fas fa-table me-1 text-secondary"></i>
            <strong>Unassigned Tickets</strong>
        </div>
        <div class="card-body">
            <div class="">
                <table id="datatablesUnassignedTickets" class="table table-striped dt-responsive w-100">
                        <thead>
                            <tr>
                                @* Table header *@
                                <th>Title</th>
                                <th>Developer</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* Table body *@
                            @foreach (var ticket in Model.OrderByDescending(d => d.Created))
                            {
                                <tr>
                                    <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="text-decoration: none">@ticket.Title</a> </td>
                                    <td>
                                        @if (ticket.DeveloperUserId != null)
                                        {
                                            @ticket.DeveloperUser?.FullName
                                        }
                                        else
                                        {
                                            if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                                            {
                                                <a class="btn btn-sm btn-info text-white" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                                            }

                                        }
                                    </td>
                                    @if (ticket.TicketStatus.Name == "New")
                                    {
                                        <td><span class="badge-success">@ticket.TicketStatus.Name </span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge-primary">@ticket.TicketStatus.Name </span></td>
                                    }
                                    <td><span class="badge-warning">@ticket.TicketPriority.Name </span></td>
                                    <td>@ticket.Created.ToString("dd-MMM-yyyy")</td>
                                    <td>
                                        <a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fas fa-align-justify"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

