@using BugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces
@model IEnumerable<BugTracker.Models.Project>

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "Archived Projects";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<h1>Archived Projects</h1>

<div class="col mt-2 mb-4">
    <div class="card shadow">
        <div class="card-header">
            <i class="fas fa-table me-1 text-secondary"></i>
            <strong>Archived Projects</strong>
        </div>
        <div class="card-body">
            <div class="">
                <table id="datatablesArchivedProjects" class="table table-striped dt-responsive w-100">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Archived)
                            </th>
                            <th>
                                Image
                            </th>
                            @if (User.IsInRole(nameof(Roles.SiteAdmin)))
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.Company)
                                </th>
                            }
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id" style="text-decoration: none">@item.Name</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Archived)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.ImageFileData)*@
                                    @if (item.ImageFileData != null)
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))" />
                                    }
                                    else
                                    {
                                        @*<img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px"/>*@
                                    }
                                </td>

                                @if (User.IsInRole(nameof(Roles.SiteAdmin)))
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company.Id)
                                    </td>
                                }

                                <td>
                                    <a style="text-decoration: none" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-align-justify"></i></a>

                                    @{
                                        bool isPM = (await ProjectService.GetProjectManagerAsync(item.Id))?.Id == btUser.Id;
                                    }

                                    @if (User.IsInRole(nameof(Roles.Admin)) || isPM)
                                    {
                                       <text>  |  </text><a class="text-secondary" style="text-decoration: none" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a><text>  |  </text>
                                        <a class="text-success" style="text-decoration: none" asp-action="Restore" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
