@using BugTracker.Models.Enums
@model IEnumerable<BugTracker.Models.Project>

@{
    ViewData["Title"] = "My Projects";
}

<h3 class="mt-2 mb-4">My Projects</h3>

@if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
{
    <p>
        <a class="btn btn-sm btn-primary" asp-action="Create">Create Project +</a>
    </p>
}

<div class="col mt-2 mb-4">
    <div class="card shadow">
        <div class="card-header">
            <i class="fas fa-table me-1 text-secondary"></i>
            <strong>My Projects</strong>
        </div>
        <div class="card-body">
            <div class="">
                <table id="datatablesMyProjects" class="table table-striped dt-responsive w-100">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Archived)
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Priority
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id" style="text-decoration: none">@item.Name</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Archived)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.ImageFileData)*@
                                    @if (item.ImageFileData != null)
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))" />
                                    }
                                    else
                                    {
                                        @*<img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px"/>*@
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
                                </td>
                                <td>

                                    <a style="text-decoration: none" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-align-justify"></i></a>
                                    <br>

                                    @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                                    {
                                        <a style="text-decoration: none" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>

                                        @if (item.Archived)
                                        {
                                            <a class="text-success" style="text-decoration: none" asp-action="Restore" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                        }
                                        else
                                        {
                                            <a style="text-decoration: none" asp-action="Archive" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


